smartlink/Multiplo - f6597e9a443633d1.json
[
  {
    "id": "f6597e9a443633d1",
    "type": "tab",
    "label": "Multiplo",
    "disabled": false,
    "info": "",
    "env": [],
    "dbPanelCode": "",
    "extensionId": "29969424-11e7-489f-9ee5-29b408799c0d"
  },
  {
    "id": "109eb7659b26ca69",
    "type": "DBPanel Interceptor",
    "z": "f6597e9a443633d1",
    "tableName": "TIPO_ACOMODACAO",
    "name": "TIPO_ACOMODACAO",
    "url": "/interceptor/crud/30035",
    "view": "30035",
    "executionOrder": "2",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "954ff3909a921fed"
      ]
    ]
  },
  {
    "id": "dae4388819775081",
    "type": "DBPanel Interceptor",
    "z": "f6597e9a443633d1",
    "d": true,
    "tableName": "TIPO_ACOMODACAO",
    "name": "TIPO_ACOMODACAO",
    "url": "/interceptor/crud/30035",
    "view": "30035",
    "executionOrder": "1",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 480,
    "wires": [
      [
        "33c1ca085bc58c2e"
      ]
    ]
  },
  {
    "id": "ee5e5fe93dc64d82",
    "type": "debug",
    "z": "f6597e9a443633d1",
    "name": "DEBUG-TIPO-ACOMOD-OR2",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1090,
    "y": 142,
    "wires": []
  },
  {
    "id": "6c2d961bfaf99736",
    "type": "function",
    "z": "f6597e9a443633d1",
    "name": "Abort",
    "func": "if(msg.payload.table != null){\n    msg.payload.abort = \"Realizado Abort TIPO_ACOMODACAO ORDEM 1\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 480,
    "wires": [
      [
        "251b210cf4369ae5",
        "1bf3ad26f02e3e72"
      ]
    ]
  },
  {
    "id": "251b210cf4369ae5",
    "type": "debug",
    "z": "f6597e9a443633d1",
    "name": "DEBUG-TIPO-ACOMOD-OR1",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1070,
    "y": 480,
    "wires": []
  },
  {
    "id": "1bf3ad26f02e3e72",
    "type": "http response",
    "z": "f6597e9a443633d1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 640,
    "wires": []
  },
  {
    "id": "faca818a3cc2ddc4",
    "type": "http response",
    "z": "f6597e9a443633d1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 970,
    "y": 267,
    "wires": []
  },
  {
    "id": "33c1ca085bc58c2e",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.eventMoment",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "BEFORE",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "AFTER",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 480,
    "wires": [
      [
        "d11fd4c70067063f"
      ],
      [
        "1bf3ad26f02e3e72"
      ]
    ]
  },
  {
    "id": "954ff3909a921fed",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.eventMoment",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "BEFORE",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "AFTER",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 260,
    "wires": [
      [
        "aba0073144bd3521"
      ],
      [
        "faca818a3cc2ddc4"
      ]
    ]
  },
  {
    "id": "aba0073144bd3521",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.records",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 140,
    "wires": [
      [
        "8ecee9276f8170bf"
      ],
      [
        "faca818a3cc2ddc4"
      ]
    ]
  },
  {
    "id": "d11fd4c70067063f",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.records",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 480,
    "wires": [
      [
        "6c2d961bfaf99736"
      ],
      [
        "1bf3ad26f02e3e72"
      ]
    ]
  },
  {
    "id": "8ecee9276f8170bf",
    "type": "function",
    "z": "f6597e9a443633d1",
    "name": "BEFORE",
    "func": "msg.payload.records.CD_NIVEL_ACOMODACAOs = 10;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 140,
    "wires": [
      [
        "faca818a3cc2ddc4",
        "ee5e5fe93dc64d82"
      ]
    ]
  },
  {
    "id": "c60b0b91db4e163d",
    "type": "smartcare-mcp",
    "name": "968c6db3-de9f-4e42-a9ae-064f32e684cf",
    "mcpSlug": "968c6db3-de9f-4e42-a9ae-064f32e684cf",
    "mcpLabel": "968c6db3-de9f-4e42-a9ae-064f32e684cf",
    "specType": "paste",
    "openApiSpec": "",
    "authType": "noauth",
    "headerName": "",
    "mcpUrl": "",
    "registered": true
  },
  {
    "id": "9f6e42cc939e0637",
    "type": "smartcare-agent",
    "name": "Smartcare H7",
    "agentName": "smartcare-h7",
    "personality": "You are a helpful assistant.",
    "mcpServers": "[\"968c6db3-de9f-4e42-a9ae-064f32e684cf\"]",
    "inputs": "TEXT",
    "guardrailEnabled": false,
    "sanitizationEnabled": false,
    "registered": false
  }
]