smartlink/Multiplo - f6597e9a443633d1.json
[
  {
    "id": "f6597e9a443633d1",
    "type": "tab",
    "label": "Multiplo",
    "disabled": false,
    "info": "",
    "env": [],
    "dbPanelCode": "",
    "extensionId": "29969424-11e7-489f-9ee5-29b408799c0d"
  },
  {
    "id": "109eb7659b26ca69",
    "type": "DBPanel Interceptor",
    "z": "f6597e9a443633d1",
    "tableName": "TIPO_ACOMODACAO",
    "name": "TIPO_ACOMODACAO",
    "url": "/interceptor/crud/30035",
    "view": "30035",
    "executionOrder": "2",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "954ff3909a921fed"
      ]
    ]
  },
  {
    "id": "dae4388819775081",
    "type": "DBPanel Interceptor",
    "z": "f6597e9a443633d1",
    "tableName": "TIPO_ACOMODACAO",
    "name": "TIPO_ACOMODACAO",
    "url": "/interceptor/crud/30035",
    "view": "30035",
    "executionOrder": "1",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 400,
    "wires": [
      [
        "33c1ca085bc58c2e"
      ]
    ]
  },
  {
    "id": "3d5237571fd25416",
    "type": "sql builder",
    "z": "f6597e9a443633d1",
    "parameters": [],
    "name": "Insert",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "template": "Insert into LOG_TASY (DT_ATUALIZACAO,NM_USUARIO,CD_LOG,DS_LOG,NR_SEQUENCIA,DS_UTC_ATUALIZACAO,DS_UTC,IE_HORARIO_VERAO) \nvalues (sysdate,'tasy','666','TESTE INTERCEPTOR TIPO ACOMODACAO DB2',LOG_TASY_seq.nextval, sysdate ,null,'N')\n",
    "output": "str",
    "x": 830,
    "y": 140,
    "wires": [
      [
        "9394e547fdfeee3c"
      ]
    ]
  },
  {
    "id": "9394e547fdfeee3c",
    "type": "tasy data access",
    "z": "f6597e9a443633d1",
    "name": "",
    "x": 1030,
    "y": 140,
    "wires": [
      [
        "ee5e5fe93dc64d82",
        "faca818a3cc2ddc4"
      ]
    ]
  },
  {
    "id": "ee5e5fe93dc64d82",
    "type": "debug",
    "z": "f6597e9a443633d1",
    "name": "DEBUG-TIPO-ACOMOD-OR2",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 140,
    "wires": []
  },
  {
    "id": "6c2d961bfaf99736",
    "type": "function",
    "z": "f6597e9a443633d1",
    "name": "Abort",
    "func": "if(msg.payload.table != null){\n    msg.payload.abort = \"Realizado Abort TIPO_ACOMODACAO ORDEM 1\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 400,
    "wires": [
      [
        "251b210cf4369ae5",
        "1bf3ad26f02e3e72"
      ]
    ]
  },
  {
    "id": "251b210cf4369ae5",
    "type": "debug",
    "z": "f6597e9a443633d1",
    "name": "DEBUG-TIPO-ACOMOD-OR1",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1150,
    "y": 400,
    "wires": []
  },
  {
    "id": "1bf3ad26f02e3e72",
    "type": "http response",
    "z": "f6597e9a443633d1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 560,
    "wires": []
  },
  {
    "id": "faca818a3cc2ddc4",
    "type": "http response",
    "z": "f6597e9a443633d1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1130,
    "y": 260,
    "wires": []
  },
  {
    "id": "33c1ca085bc58c2e",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.eventMoment",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "BEFORE",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "AFTER",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 400,
    "wires": [
      [
        "d11fd4c70067063f"
      ],
      [
        "1bf3ad26f02e3e72"
      ]
    ]
  },
  {
    "id": "954ff3909a921fed",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.eventMoment",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "BEFORE",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "AFTER",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 260,
    "wires": [
      [
        "aba0073144bd3521"
      ],
      [
        "faca818a3cc2ddc4"
      ]
    ]
  },
  {
    "id": "aba0073144bd3521",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.records",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 140,
    "wires": [
      [
        "3d5237571fd25416"
      ],
      [
        "faca818a3cc2ddc4"
      ]
    ]
  },
  {
    "id": "1b0309810e85b39d",
    "type": "function",
    "z": "f6597e9a443633d1",
    "name": "function 1",
    "func": "msg.payload.records.CD_NIVEL_ACOMODACAO = 12;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 60,
    "wires": [
      [
        "1e53cf0ed40bc01d"
      ]
    ]
  },
  {
    "id": "1e53cf0ed40bc01d",
    "type": "debug",
    "z": "f6597e9a443633d1",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 60,
    "wires": []
  },
  {
    "id": "d11fd4c70067063f",
    "type": "switch",
    "z": "f6597e9a443633d1",
    "name": "",
    "property": "payload.records",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 630,
    "y": 400,
    "wires": [
      [
        "6c2d961bfaf99736"
      ],
      [
        "1bf3ad26f02e3e72"
      ]
    ]
  }
]