smartlink/Segundo - 1f97741ec67c94d8.json
[
  {
    "id": "1f97741ec67c94d8",
    "type": "tab",
    "label": "Segundo",
    "disabled": false,
    "info": "",
    "env": [],
    "dbPanelCode": "",
    "extensionId": "0f45b9d5-47bc-4cf1-9b4c-5d60aab7cd03"
  },
  {
    "id": "93e10de5623079c0",
    "type": "inject",
    "z": "1f97741ec67c94d8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 320,
    "wires": [
      [
        "7036988428343318"
      ]
    ]
  },
  {
    "id": "64a47ac53a4e279c",
    "type": "tasy data access",
    "z": "1f97741ec67c94d8",
    "name": "",
    "x": 830,
    "y": 320,
    "wires": [
      [
        "54c875209d4a654b"
      ]
    ]
  },
  {
    "id": "ffd40615aca3dcc5",
    "type": "procedure",
    "z": "1f97741ec67c94d8",
    "name": "LOGIN_PRESTADOR",
    "params": [
      {
        "paramname": "NR_SEQ_USUARIO_P",
        "paramdatatype": "NUMBER",
        "paramtype": "IN",
        "paramvalue": "17",
        "typedInput": "num"
      },
      {
        "paramname": "NR_SEQ_LOCAL_ATEND_P",
        "paramdatatype": "NUMBER",
        "paramtype": "IN",
        "paramvalue": "null",
        "typedInput": "num"
      },
      {
        "paramname": "NM_USUARIO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "IN",
        "paramvalue": "Prestador",
        "typedInput": "str"
      },
      {
        "paramname": "DS_EMAIL_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "DS_RESPONSAVEL_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "NR_CRM_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_PESSOA_FISICA_RESP_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_ESTABELECIMENTO_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_COOPERATIVA_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_EXIGE_BIOMETRIA_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "NR_SEQ_PERFIL_WEB_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_TIPO_PRESTADOR_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "QT_DIAS_PROTOCOLO_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_FORMA_AUTENTICACAO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "NM_PRESTADOR_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "NR_SEQ_PRESTADOR_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_PESSOA_FISICA_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "QT_PRESTADORES_LOGIN_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_ORIGEM_PRESTADOR_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_PRESTADOR_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "NM_LOCAL_ATEND_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "UF_CRM_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "QT_MAX_CARACT_CART_P",
        "paramdatatype": "NUMBER",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_FORMA_VAL_CART_BENEF_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "CD_VERSAO_TISS_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_NOVA_IMPORTACAO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IP_SOCKET_SCS_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "DT_ULTIMO_ACESSO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      },
      {
        "paramname": "IE_PRESTADOR_EXCLUIDO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "OUT",
        "paramvalue": "",
        "typedInput": ""
      }
    ],
    "sql": "",
    "procedure": "PLS_GERAR_LOGIN_PRESTADOR",
    "x": 540,
    "y": 320,
    "wires": [
      [
        "64a47ac53a4e279c"
      ]
    ]
  },
  {
    "id": "54c875209d4a654b",
    "type": "debug",
    "z": "1f97741ec67c94d8",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 320,
    "wires": []
  },
  {
    "id": "7036988428343318",
    "type": "function",
    "z": "1f97741ec67c94d8",
    "name": "function 3",
    "func": "msg.payload = {CD:null};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 320,
    "wires": [
      [
        "ffd40615aca3dcc5",
        "ac994ae69d412a09"
      ]
    ]
  },
  {
    "id": "758ac024664140ab",
    "type": "inject",
    "z": "1f97741ec67c94d8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 440,
    "wires": [
      [
        "0c07def0130a1269"
      ]
    ]
  },
  {
    "id": "0c07def0130a1269",
    "type": "procedure",
    "z": "1f97741ec67c94d8",
    "name": "Log",
    "params": [
      {
        "paramname": "NR_SEQ_GUIA_P",
        "paramdatatype": "NUMBER",
        "paramtype": "IN",
        "paramvalue": "",
        "typedInput": "num"
      },
      {
        "paramname": "DS_OBSERVACAO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "IN",
        "paramvalue": "Log Smartlink",
        "typedInput": "str"
      },
      {
        "paramname": "NM_USUARIO_P",
        "paramdatatype": "VARCHAR2",
        "paramtype": "IN",
        "paramvalue": "ejsilva",
        "typedInput": "str"
      }
    ],
    "sql": "",
    "procedure": "PLS_GERACAO_LOG_TEMPORARIO",
    "x": 300,
    "y": 440,
    "wires": [
      [
        "6cbbe46af6feb620",
        "3b482833d7a80fa5"
      ]
    ]
  },
  {
    "id": "6cbbe46af6feb620",
    "type": "tasy data access",
    "z": "1f97741ec67c94d8",
    "name": "",
    "x": 540,
    "y": 440,
    "wires": [
      [
        "cfeaec3d337ada5b"
      ]
    ]
  },
  {
    "id": "cfeaec3d337ada5b",
    "type": "debug",
    "z": "1f97741ec67c94d8",
    "name": "Debug Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 440,
    "wires": []
  },
  {
    "id": "3b482833d7a80fa5",
    "type": "debug",
    "z": "1f97741ec67c94d8",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 560,
    "wires": []
  },
  {
    "id": "ac994ae69d412a09",
    "type": "debug",
    "z": "1f97741ec67c94d8",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 200,
    "wires": []
  }
]