smartlink/Unico - 7c407c5ee338bba6.json
[
  {
    "id": "7c407c5ee338bba6",
    "type": "tab",
    "label": "Unico",
    "disabled": false,
    "info": "",
    "env": [],
    "dbPanelCode": "",
    "extensionId": "29969424-11e7-489f-9ee5-29b408799c0d"
  },
  {
    "id": "b3eb50f36ba0fe8c",
    "type": "DBPanel Interceptor",
    "z": "7c407c5ee338bba6",
    "tableName": "TIPO_ACOMOD_DIFERENCA",
    "name": "TIPO_ACOMOD_DIFERENCA",
    "url": "/interceptor/crud/26578",
    "view": "26578",
    "executionOrder": 0,
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 380,
    "wires": [
      [
        "f8a63d8fe6c0b652"
      ]
    ]
  },
  {
    "id": "085955abbf270a95",
    "type": "function",
    "z": "7c407c5ee338bba6",
    "name": "Abort",
    "func": "if(msg.payload.table != null){\n    msg.payload.abort = \" Realizado Abort TIPO_ACOMOD_DIFERENCA\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 60,
    "wires": [
      [
        "91dbc11ae8279d93"
      ]
    ]
  },
  {
    "id": "91dbc11ae8279d93",
    "type": "debug",
    "z": "7c407c5ee338bba6",
    "name": "DEBUG TIPO-ACOMOD-DIF ABORTA",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 60,
    "wires": []
  },
  {
    "id": "29cacc765d7aef9d",
    "type": "http response",
    "z": "7c407c5ee338bba6",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 870,
    "y": 400,
    "wires": []
  },
  {
    "id": "f8a63d8fe6c0b652",
    "type": "switch",
    "z": "7c407c5ee338bba6",
    "name": "",
    "property": "payload.eventMoment",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "BEFORE",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "AFTER",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 380,
    "wires": [
      [
        "07c075a54afcdecb"
      ],
      [
        "29cacc765d7aef9d"
      ]
    ]
  },
  {
    "id": "196f9a826e96617b",
    "type": "function",
    "z": "7c407c5ee338bba6",
    "name": "function 2",
    "func": "msg.payload.records.CD_TIPO_ACOMOD_DIF = 1;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 280,
    "wires": [
      [
        "29cacc765d7aef9d",
        "09a2be22d250fee4"
      ]
    ]
  },
  {
    "id": "09a2be22d250fee4",
    "type": "debug",
    "z": "7c407c5ee338bba6",
    "name": "DEBUG-H5-TIPO-ACOM-DIF-MODIF",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 990,
    "y": 300,
    "wires": []
  },
  {
    "id": "07c075a54afcdecb",
    "type": "switch",
    "z": "7c407c5ee338bba6",
    "name": "",
    "property": "payload.records",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      },
      {
        "t": "null"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 480,
    "y": 280,
    "wires": [
      [
        "196f9a826e96617b"
      ],
      [
        "29cacc765d7aef9d"
      ]
    ]
  }
]